header {
  background: #262626;
  background-size: cover;
  max-width: 1440px;
  display: flex;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
header .logo-mob {
  padding: 2% 2%;
}
header .logo-mob a img {
  height: 38px;
}
header nav {
  padding-right: 4%;
  padding-top: 0%;
}
header nav ul {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
header nav ul li {
  padding: 14%;
}
header nav ul li:hover {
  background: rgba(255, 255, 255, 0.05);
}
header nav ul li .link-menu {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.75);
}
header nav ul li .link-menu:hover {
  color: #DC0D28;
  border-bottom: 2px solid #DC0D28;
}
header nav ul li .btn {
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
header nav ul li .btn:hover {
  background-color: #DC0D28;
  border: 2px solid #DC0D28;
  color: rgba(255, 255, 255, 0.75);
}

main {
  max-width: 1440px;
  background-image: url(../images/Fondo.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: transparent;
}
main .contenedor .linea .columna {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}
main .contenedor .linea .columna div {
  justify-content: center;
}
main .contenedor .linea .columna div h1 {
  font-family: Helvetica, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 64px;
  line-height: 86px;
  background: #ccc;
  background: linear-gradient(-259deg, #f81f01, #ee076e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .contenedor .linea .columna div p {
  max-width: 790px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
main div a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
}
main div a:hover {
  text-decoration: none;
  background-color: #DC0D28;
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid #DC0D28;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-10%);
  transition: 0.3s;
}

.sectionCards {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.sectionCards .contenedor-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sectionCards .contenedor-cards .card {
  width: 320px;
  height: 251px;
  margin: 1%;
  padding: 4%;
  background: #F6F6F6;
  /* Shadow */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.sectionCards .contenedor-cards .card img {
  max-width: 53px;
  max-height: 53px;
  margin-bottom: 10px;
}
.sectionCards .contenedor-cards .card h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}
.sectionCards .contenedor-cards .card p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.56);
}
.sectionCards .contenedor-cards .card:hover {
  background: linear-gradient(90deg, #f61b10, #ef0963);
  transform: translateY(-2.5%);
  transition: ease-in;
  transition: 0.4s;
}
.sectionCards .contenedor-cards .card:hover h5 {
  color: #F6F6F6;
  transform: translateY(-2.5%);
  transition: 0.3s;
  transform: scale(1.05, 1.05);
}
.sectionCards .contenedor-cards .card:hover p {
  color: #F6F6F6;
  transform: translateY(-2.5%);
  transition: 0.3s;
  transform: scale(1.05, 1.05);
}

/*# sourceMappingURL=style.css.map */
