.sectionCards {
    max-width: 1440px;
    ;
    display: flex;
    flex-direction: column;
    padding: 5%;

    .contenedor-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card {


            margin: 1%;
            padding: 4%;
            background: #F6F6F6;
            /* Shadow */

            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
            border-radius: 8px;

            .card-body {
                max-width: 320px;
                max-height: 251px;

                h5 {
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                }

                p {
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.56);
                }
            }
        }
    }
}