.sectionCards {
    max-width: 1440px;
    ;
    display: flex;
    flex-direction: column;
    padding: 5%;

    .contenedor-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {

            width: 320px;
            height: 251px;

            margin: 1%;
            padding: 4%;
            background: #F6F6F6;
            /* Shadow */

            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
            border-radius: 8px;

            img {
                max-width: 53px;
                max-height: 53px;
                // padding: 2%;
                margin-bottom: 10px;
            }

            h5 {
                font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 10px;
            }

            p {
                font-family: Helvetica;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.56);

            }


            &:hover {
                background: linear-gradient(90deg, #f61b10, #ef0963);
                transform: translateY(-2.5%);
                transition: ease-in;
                transition: 0.4s;

                h5 {
                    color: #F6F6F6;
                    transform: translateY(-2.5%);
                    transition: 0.3s;
                    transform: scale(1.05, 1.05);

                }

                p {
                    color: #F6F6F6;
                    transform: translateY(-2.5%);
                    transition: 0.3s;
                    transform: scale(1.05, 1.05);
                }



            }


        }
    }
}